# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!automations
!configurations
!custom_components
!scripts
!*.dash
!dashboards
!appdaemon
!*.png
!sensors
!entity_config
!images

# Ignore folders.
.storage
.cloud
.google.token
backup
deps
glances
node-red
NotHassioShit
tts
www
.homekit
.Trash-0
appdaemon/roku_square_logo.png
android
custom_icons


# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
appdaemon.yaml
appdaemon3.0.yaml
appdaemon 4.0.yaml
experimenting.yml
ip_bans.yaml
secrets.yaml
known_devices.yaml
*.pickle
*.log
*.db
*.xml
.homekit.state
.ios.conf
.uuid
.xbox-token.json
zones.yaml
shell_command.yaml
