# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!appdaemon
!automations
!custom_components
!scripts

# Ignore folders.
.storage
.cloud
.google.token
backup
esphome
deps
glances
node-red
NotHassioShit
tts
www
.homekit
.Trash-0

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
*.pickle
*.log
*.db
*.xml
.homekit.state
.ios.conf
.uuid
.xbox-token.json
zones.yaml
shell_command.yaml
